

<div class = "row">

    <div class = "col-md-6 offset-3 alert alert-success text-center">
        <h2>Your account has been successfully created</h2>
        <p>Click here to login to your new account</p>
        <hr />
        <p>Thanks!</p>
    </div>

</div>